<!DOCTYPE html>
<html lang="pl-PL">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="shortcut icon" href="/public/images/favicon.png" />
	<title>{{ brand }}</title>
	
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Jura&#038;subset=latin%2Ccyrillic-ext%2Cgreek-ext%2Ccyrillic&#038;ver=4.7.9' />

	<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
	<link rel='stylesheet' type='text/css' href='/public/css/backToTop.css' />

	<!--  jQuery 2.x (3.x is not supported by some used plugins ) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!--  jQuery UI 1.12.1 - works with jQuery 1.7+ -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<script type='text/javascript' src='/public/js/lib/jquery.validate.js'></script>
	<script type='text/javascript' src='/public/js/lib/hint.js'></script>

	
	<script type='text/javascript' src='/public/lib/fancybox/jquery.fancybox.pack.js'></script>
	<link rel='stylesheet' type='text/css' href='/public/lib/fancybox/jquery.fancybox.css' />
	
	
	<script type='text/javascript' src='/public/js/custom.js'></script>

	{{! --
	<link rel='stylesheet' id='core-css' href='http://kasia.weekendwarrior.eu/wp-content/plugins/simple-subscribe/assets/styleFrontEnd.css?ver=4.7.9'
	 type='text/css' media='all' />

	<script type='text/javascript' src='http://kasia.weekendwarrior.eu/wp-content/themes/core-kasia/js/jquery.easing.js?ver=5.1'></script>
	<script type='text/javascript' src='http://kasia.weekendwarrior.eu/wp-content/themes/core-kasia/js/jquery.touchwipe.1.1.1.js?ver=5.1'></script>
	<script type='text/javascript' src='http://kasia.weekendwarrior.eu/wp-content/themes/core-kasia/js/jquery.ppflip.js?ver=5.1'></script>
	<script type='text/javascript' src='http://kasia.weekendwarrior.eu/wp-content/themes/core-kasia/js/jquery.tubular.js?ver=5.1'></script>
	--}}
	

	<!--  Open Graph Tags -->
	<meta property="og:image" content="/public/images/logo-facebook.png" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Kasia In Chains" />
	<meta property="og:description" content="Travel And Photography" />
	<meta property="og:url" content="http://kasia.weekendwarrior.eu/" />
	<meta property="og:site_name" content="Kasia In Chains" />
	<meta property="og:locale" content="pl_PL" />
	<meta name="twitter:image" content="imageUrl" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:description" content="Visit the post for more." />

	{{!-- This section allows templates to define custom CSS here --}}
	{{{_sections.head_css}}}
    {{!-- This section allows templates to define custom JS here --}}
	{{{_sections.head_js}}}
</head>


<body class="home blog">

	<div id="wrapper">
		<div id="top_bar">
			<div class="top_bar_wrapper">
				<!-- Logo -->
				<a id="custom_logo" class="logo_wrapper" href="/">
					<img src="/public/images/logo.png" alt="" />
				</a>

				<!-- Main nav -->
				<div id="menu_border_wrapper">
					<div class="menu-menu-main-container">
						<ul id="main_menu" class="nav">
							<li id="menu-item-55" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-55">
								<a>Podróże</a>
								<ul class="sub-menu">
									<li id="menu-item-480" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-480">
										<a>Dania</a>
										<ul class="sub-menu">
											<li id="menu-item-479" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-479">
												<a href="/dania/bornholm-2009/">Bornholm 2009</a>
											</li>
										</ul>
									</li>
									<li id="menu-item-361" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-361">
										<a>Francja</a>
										<ul class="sub-menu">
											<li id="menu-item-362" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-362">
												<a href="/france/france-2013/">Tarn 2013</a>
											</li>
										</ul>
									</li>
									<li id="menu-item-380" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-380">
										<a>Włochy</a>
										<ul class="sub-menu">
											<li id="menu-item-377" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-377">
												<a href="/italy/venice-2013/">Wenecja 2013</a>
											</li>
											<li id="menu-item-1288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1288">
												<a href="/italy/werona-2014/">Werona 2014</a>
											</li>
										</ul>
									</li>
									<li id="menu-item-408" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-408">
										<a>Hiszpania</a>
										<ul class="sub-menu">
											<li id="menu-item-404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-404">
												<a href="/spain/siurana-2012/">Siurana 2012</a>
											</li>
											<li id="menu-item-1238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1238">
												<a href="/spain/wspinaczkowo-2014/">Wspinaczkowo 2014</a>
											</li>
										</ul>
									</li>
									<li id="menu-item-409" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-409">
										<a>Grecja</a>
										<ul class="sub-menu">
											<li id="menu-item-389" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389">
												<a href="/greece/kavala-2011/">Kavala 2011</a>
											</li>
											<li id="menu-item-925" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-925">
												<a href="/greece/sparta-2013-2014/">Sparta 2013/2014</a>
											</li>
											<li id="menu-item-1859" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1859">
												<a href="/greece/petropigi-i-kranohori-2015/">Petropigi i Kranohori 2015</a>
											</li>
										</ul>
									</li>
									<li id="menu-item-342" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-342">
										<a>Turcja</a>
										<ul class="sub-menu">
											<li id="menu-item-147" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-147">
												<a href="/turkey/turkey-2011/">Geyikbayiri 2011</a>
											</li>
											<li id="menu-item-148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-148">
												<a href="/turkey/turkey-2013/">Geyikbayiri 2013</a>
											</li>
											<li id="menu-item-1645" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1645">
												<a href="/turkey/geyikbayiri-2015/">Geyikbayiri 2015</a>
											</li>
										</ul>
									</li>
									<li id="menu-item-519" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-519">
										<a>Maroko</a>
										<ul class="sub-menu">
											<li id="menu-item-506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-506">
												<a href="/maroko/todra-2008/">Todra 2008</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li id="menu-item-112" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-112">
								<a>Żyjątka</a>
								<ul class="sub-menu">
									<li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113">
										<a href="/aminals-big/">Duże</a>
									</li>
									<li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114">
										<a href="/animals-small/">Małe</a>
									</li>
									<li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427">
										<a href="/kajetan/">Puszkin</a>
									</li>
									<li id="menu-item-426" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426">
										<a href="/kajetan-2/">Kajetan</a>
									</li>
									<li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428">
										<a href="/fizia/">Fizia</a>
									</li>
								</ul>
							</li>
							<li id="menu-item-2002" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2002">
								<a href="/maja/">Maja</a>
								<ul class="sub-menu">
									<li id="menu-item-2005" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2005">
										<a href="/maja/maj-z-maja/">w maju jak w gaju</a>
									</li>
								</ul>
							</li>
							<li id="menu-item-218" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-218">
								<a href="/category/photography/impressions/">Impresje</a>
							</li>
							<li id="menu-item-217" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-217">
								<a href="/category/photography/together/">My</a>
							</li>
							<li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
								<a href="/about/">O mnie</a>
							</li>
							<li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11">
								<a href="/contact/">Kontakt</a>
							</li>
						</ul>
					</div>
				</div>

				<!-- Social nav -->
				<div class="top_right">
					<div class="social_wrapper">
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		{{{ body }}}

		<br class="clear" />

		<div id="footer">
			<a href="/protected/family">Cześć Rodzinko!</a>
			<span style="text-transform: none; margin-right: 50px; position: absolute; right: 0px;"> © Ru </span>
		</div>
	</div>

	<a href="#" id="backToTop" style="display: none;"><span></span></a>

	<script type="text/javascript" language="javascript">
		jQuery(function ($) {
			$(window).contextmenu(function (e) {
				e.preventDefault();
				return false;
			});
			$("img").mousedown(function (e) {
				e.preventDefault();
				return false;
			});
		}); 
	</script>

	<script type='text/javascript' src='/public/js/backToTop.js'></script>

	{{!-- This section allows templates to add custom JS here --}}
	{{{_sections.body_js}}}

	{{> google-analytics}}
	
</body>

</html>
