<div class="container">
	<h1>{{title}}</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col col-sm-8 col-md-9 content">
			<h4 class="text-weight-normal">Showing {{ posts.results.length}} posts.</h4>
			<div class="blog">
				{{#each posts.results}}
					{{>post post=this brief=true}}
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3 sidebar">
			<div class="widget">
				<h2>Categories</h2>
				<div class="list-group">
					<a href="{{blogUrl}}" class="{{ifx category '' 'active'}} list-group-item">All Categories</a>
					{{# each categories }}
					<a href="{{categoryUrl slug}}" class="{{ifx (isSame ../category id) 'active' ''}} list-group-item">{{name}}
						<span class="badge float-right">{{count}}</span>
					</a>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	{{>pagination}}
</div>

{{#section 'head_css'}}
	<link href="/public/css/blog.css?v={{version}}" rel="stylesheet">
{{/section}}
