<div class="container">
	
	<h1 class="page-caption">Kontakt</h1>

	<div class="row">
		<div class="col col-sm-8 content">
			<!-- Main content -->
			{{#if enquirySubmitted}}
			<h3>Thanks for getting in touch.</h3>
			{{else}}
			<form method="post" id="contact_form">
				<input type="hidden" name="action" value="contact" />

				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<input type="text" name="name.full" title="Name*" class="form-control" value="{{formData.[name.full]}}" />
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<input type="text" name="email" title="Email*" class="form-control" value="{{formData.email}}" />
				</div>
				<div class="form-group">
					<input type="text" name="phone" title="Phone" class="form-control" value="{{formData.phone}}" />
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<textarea name="message" title="Leave us a message...*" rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>What are you contacting us about?</label>
					<select name="enquiryType" class="form-control">
						<option value="">(select one)</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-actions">
					<input type="submit" class="btn btn-primary" value="Send Message" />
				</div>
			</form>
			{{/if}}
		</div>
		<div class="col col-sm-4 sidebar">
			<!-- Sidebar content-->
			<ul class="sidebar_widget">
				<li class="widget widget_subscribe">
					<h2 class="widgettitle">Subskrybcja</h2>
					{{#if subscriptionSubmitted}}
					<h3>Thanks for the subscribing.</h3>
					{{else}}
					<form method="post" id="subscribe_form">
						<input type="hidden" name="action" value="subscribe">
						
						<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
							<input type="text" name="email" title="Email*" class="form-control" value="{{formData.email}}" required/>
						</div>
						<div class="form-actions">
							<input type="submit" class="btn btn-primary" value="Subscribe" />
						</div>
					</form>
					<p class="terms d-none">By signing up, you agree to our
						<a href="/legal/tos">Terms of Service</a> and
						<a href='/legal/privacy/'>Privacy Policy</a>
					</p>
					{{/if}}
				</li>
			</ul>
		</div>
	</div>
</div>

{{#section 'body_js'}}
<script>
	jQuery(function ($) {
		$('#contact_form').validate({
			rules: {
				'name.full': "required",
				email: {
					required: true,
					email: true
				},
				message: "required",
			},
			messages: {
				'name.full': "Please enter your name",
				email: "Please enter a valid email address",
				message: "Please enter some message",
			},
		});

		$('#subscribe_form').validate({
			rules: {
				email: {
					required: true,
					email: true,
				},
			},
			messages: {
				email: "Please enter a valid email address",
			},
		});
	});
</script>
{{/section}}
