<div class="comments-wrap">


	<div id="app-comment-form" class="mb-4 comment-form-wrap">
		<form class="comment-form" method="post">
			<input type="hidden" name="action" value="comment.create">

			<div class="media">
				<img class="avatar mr-3" src="http://placehold.it/80x80" alt="">
				<div class="media-body">
					{{#if user }}
					<textarea v-model="comment" class="form-control mb-2" name="content" placeholder="Leave a comment..."></textarea>
					<button v-bind:disabled="!comment" class="btn btn-primary" type="submit">Comment</button>
					{{else}}
					<textarea class="form-control mb-2" name="content" placeholder="Please sign in to comment" disabled="disabled"></textarea>
					<a class="btn btn-sm btn-primary" role="button" href="/keystone/signin">Sign in to Comment</a>
					{{/if}}
				</div>
			</div>

		</form>
	</div>

	<div class="comments-list-wrap">
		{{#if comments}}
		<h3 class="text-success">Comments</h3>
		<hr/>
		<ul class="list-inline comments">
			{{#each comments}} {{#if author}}
			<li class="mb-2">
				<div class="media">
					<img class="mr-3 avatar" src="http://placehold.it/65x65" alt="">
					<div class="media-body comment">
						<div class="row pb-2 mb-2 comment-meta">
							<div class="col">Dec 18, 2014 {{author.name.full}} says : </div>
							{{#if (isSame ../user author.id) }}
							<div class="col-auto">
								<i class="float-right">
									<a href="?action=comment.remove&comment={{id}}">
										<i class="fas fa-trash"></i>
									</a>
								</i>
							</div>
							{{/if}}
						</div>
						<div> {{{content}}} </div>
					</div>
				</div>
			</li>
			{{/if}} {{/each}}
		</ul>

		{{else}}
		<h3 class="text-success">No comments</h3>
		{{/if}}

	</div>

</div>
